<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="img/1.png"
        alt="Hamdaa"
        class="img-thumbnail rounded-circle"
        width="200"
      />
      <h1 class="display-4">Hamda</h1>
      <p class="lead">Student | Content Creator</p>
    </div>
  </div>
</div>
