
    <h1>Web Server NodeJS</h1>
    <h2>halo <%= nama %></h2>

    <h4>Daftar Mahasiswa</h4>
    <% if (mahasiswa.length < 2) { %>
    <p>Data Mahasiswa kosong</p>
    <% } else { %> <% mahasiswa.forEach(mhs => { %>
    <ul>
      <li>Nama : <%= mhs.nama %></li>
      <li>Email : <%= mhs.email %></li>
    </ul>

    <% }) %> <% } %>
 
